.secao__destaque {

    /* margin: 5px; */
    /* background-image: url('../img/Vector\ 22.png'); */
    background-size: 92%;
    background-repeat:no-repeat;
    background-position: left bottom;
    /* background:linear-gradient(rgb(255, 166, 0), rgb(255, 255, 0, 0.3)); */

}


.secao__destaque--texto {
    padding: 30px;
}

.secao__destaque h2 {
    text-align: center;

}

.secao__destaque p {
    text-align: justify;
    padding-top: 20px;



}

.secao__destaque--img-fundo img {
    height: 90px;
    width: 100%;

}